@model List<UserRoleViewModel>
@{
    ViewBag.Title = "Edit Users In Role";
    var roleId = ViewBag.RoleId;
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or Remove Users From Role</h2>
        </div>
        <div class="card-body">
            @for(int i=0;i<Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId"/>
                    <input asp-for="@Model[i].IsInRole" class="form-check-input"/>
                    <label asp-for="@Model[i].IsInRole" class="form-check-label">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn btn-primary" style="width:auto" />
            <a asp-controller="admin" asp-action="editrole" asp-route-id="@roleId"
               class="btn btn-primary" style="width:auto">Cancel</a>
        </div>
    </div>
</form>
